{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}
    Team Management
{% endblock %}

{% block body %}
  <div class="row">
      <h1 class="col-sm-5">team Management</h1>
      <a href="{% url 'add_team' %}" style="float: right;" class="btn btn-primary col-md-2">Create a Team</a>
  </div>

  <div class="col-sm-5">
        {% if teams|length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Team name</th>
                <th>Size</th>
                <th>Delete</th>
                </tr>
            </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{customer.name | title}}</td>
                            <td>{{team.size}}</td>
                            <td>
                                <form action="{% url 'delete_team' %}" id="submitForm" method="POST">
                                    {% csrf_token %}
                                        <input type="text" value={{team.id}} class="hide" name="team_id">
                                        <button class="btn btn-default btn-sm" col-sm-2 onclick="deleteFunction()">Delete Team</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% else %}
                <div>No Teams</div>
            {% endif %}
  </div> 
  <script>
         function deleteFunction() {
            event.preventDefault()
            if (confirm("Are you sure.?")) {
                $("#submitForm").submit()
            }
         }
  </script>
{% endblock %}