{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}
    My Detail
{% endblock %}

{% block body %}
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="col-sm-12">
            <h2>First Name: {% if user.profile.first_name %} {{user.profile.first_name}} {% else %}NA{% endif %}</h3>
            <h2>Last Name: {% if user.profile.last_name %} {{user.profile.last_name}} {% else %}NA{% endif %}</h3>
            <h2>Email: {{ user.email }}</h2>
            <a href="{% url 'update_profile' %}" class="btn btn-md btn-primary" style="float: right">Update Profile</a>
        </div>
</div>
</div>
{% endblock %}
