{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}
    My Detail
{% endblock %}

{% block body %}
  {% if error %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{ msg }}
    </div>
  {% endif %}
  <form class="form-horizontal col-sm-offset-2 col-sm-6" action="{% url 'add_employee' %}" name="loginForm" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading" style="text-align: center">Update Form </h2>
    <br>
    <div class="form-group">
      <label class="control-label col-sm-3" for="inputName">First Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputName" placeholder="name" name="first_name" value={{user.profile.first_name}}>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="inputName1">Last Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputName1" placeholder="name" name="last_name" value={{user.profile.last_name}}>
      </div>
    </div>
    <div class="form-group disabled">
        <label class="control-label col-sm-3" for="inputEmail">Email: </label>
        <div class="col-sm-9">
            <span class="form-control">{{user.email}}</span>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="age">Age:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="age" placeholder="name" name="age" value={{user.profile.age}}>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="dob">DOB:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="dob" placeholder="name" name="dob" value={{user.profile.dob}}>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="inputRole">Role:</label>
        <div class="col-sm-9">
          <span class="form-control">{{user.profile.role}}</span>
        </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-md btn-primary btn-block" type="submit">
                <span class="signInSpan">Submit</span>
                <div class="loader hide"></div>
              </button>
      </div>
    </div>
  </form>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script>
    /*$('button').click(function (event) {
      event.preventDefault();
      if ($('#inputEmail').val() && $('#inputPassword').val()) {
        $('.signInSpan').addClass('hide');
        $('.loader').removeClass('hide');
        $('.form-signin').submit();
      }
    });*/

    // Wait for the DOM to be ready
    $(function () {
      // Initialize form validation on the registration form.
      // It has the name attribute "registration"
      $("form[name='loginForm").validate({
        // Specify validation rules
        rules: {
          // The key name on the left side is the name attribute
          // of an input field. Validation rules are defined
          // on the right side
          name: {
            required: true,
          },
          email: {
            required: true,
          },
          role: {
            required: true
          }
        },
        // Specify validation error messages
        messages: {
            name: "<p>Please enter name of an employee</p>",
            email: "<p>Please enter email id of an employee</p>",
            role: "<p>Please enter role id of an employee</p>",
        },
        // Make sure the form is submitted to the destination defined
        // in the "action" attribute of the form when valid
        submitHandler: function (form) {
          $('.signInSpan').addClass('hide');
          $('.loader').removeClass('hide');
          form.submit();
        }
      })
    });
  </script>
{% endblock %}