{% load staticfiles %}

<html>
<head>
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block static_files %}
  {% endblock %}
</head>

<body>
{% if user.is_authenticated and user.superuser %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'customers' %}">Admin</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for tab in tab_list %}
        <li class="active"><a href="{% url tab.url %}"><span
          class="glyphicon glyphicon-cog"></span> {{tab.tab_name}}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="margin5">
          <a href="{% url 'account_logout' %}">
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
<div class="container">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class=" alert alert-{{ message.tags }} fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ message.tags|title }}!</strong> {{ message }}
        </div>
      {% endfor %}
    </ul>
  {% endif %}
  {% block body %}
  {% endblock %}
<script>
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
</script>
</div>
</body>
</html>